<template>
    <div>
        <div class="ml-12">
            <div class="text-center">
                Email
                <input type="text" style="background-color: #e2e8f0">
            </div>
            <div class="text-center">
                Password
                <input type="password" style="background-color: #e2e8f0">
            </div>
            <button class="btn-close-white">Login</button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                statuses: []
            }
        },
        methods: {
            fetchUsers() {
                axios.post(`/api/auth/login`).then((response)=>{
                    this.statuses = response.data
                    localStorage.setItem('statuses',this.statuses)
                })
            }
        },
        mounted() {
            console.log('Component mounted.')
            this.fetchUsers()
        },
    }
</script>

<style scoped>

</style>
