<template>
    <div>
        <div class="ml-12">
            <div class="text-center">
                Email
                <input type="text" style="background-color: #e2e8f0">
            </div>
            <div class="text-center">
                Password
                <input type="password" style="background-color: #e2e8f0">
            </div>
            <button class="btn-close-white">Register</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "RegisterComponent"
    }
</script>

<style scoped>

</style>
