<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                    <ul>
                        <li v-for="status in this.statuses" :key="status.id">
                            {{status.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                statuses: []
            }
        },
        methods: {
            fetchUsers() {

                axios.get(`/api/statuses`).then((response)=>{
                    this.statuses = response.data

                    localStorage.setItem('statuses',this.statuses)
                })
            }
        },
        mounted() {
            console.log('Component mounted.')
            this.fetchUsers()
        },
    }
</script>
