<template>
    <div>
        <div class="flex justify-center mt-4 sm:items-center sm:justify-between">
            <div class="dataTables_scroll">
                <div class="dataTables_scrollHead"
                     style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                    <div class="dataTables_scrollHeadInner"
                         style="box-sizing: content-box; width: 1234.2px; padding-right: 0px;">
                        <table class="bg-white table table-striped table-hover nowrap rounded shadow-xs border-xs mt-2 dataTable" cellspacing="0" aria-describedby="crudTable_info" role="grid" style="margin-left: 0px; width: 1234.2px;">
                            <thead>
                            <tr role="row">
                                <th data-orderable="true" data-priority="0" data-visible-in-table="false"
                                    data-visible="true" data-can-be-visible-in-table="true"
                                    data-visible-in-modal="true"
                                    data-visible-in-export="true" data-force-export="false" class="sorting"
                                    tabindex="0"
                                    aria-controls="crudTable" rowspan="1" colspan="1" aria-label="Название этапа: нажмите для сортировки по возрастанию" style="width: 174.087px;">
                                    Название этапа
                                </th>
                                <th data-orderable="true" data-priority="1" data-visible-in-table="false"
                                    data-visible="true" data-can-be-visible-in-table="true"
                                    data-visible-in-modal="true"
                                    data-visible-in-export="true" data-force-export="false" class="sorting"
                                    tabindex="0"
                                    aria-controls="crudTable" rowspan="1" colspan="1" aria-label="Описание этапа: нажмите для сортировки по возрастанию" style="width: 467.087px;">
                                    Описание этапа
                                </th>
                                <th data-orderable="false" data-priority="1" data-visible-in-export="false"
                                    class="sorting_disabled" rowspan="1" colspan="1" aria-label="Действия"
                                    style="width: 465.025px;">Действия
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProjectComponent"
    }
</script>

<style scoped>

</style>
